*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
  /* cursor: none; */
}

body {
  box-sizing: inherit;
  font-family: "Overused Grotesk", Arial, Helvetica, sans-serif;
  background-color: var(--black);
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #da7857c7;
  color: var(--white);
}

:root {
  --primary: #2e7575;
  --secondary: #c16040;
  /* --secondary: #da7857; */

  /* c94b4b */

  --white: #f1f1f1;
  --grey: #919191;
  --black: #111;

  --heading1: 112px;
  --heading2: 48px;
  --heading3: 32px;
  --heading4: 24px;
  --heading5: 24px;
  --bodyLarge: 16px;
  --bodySmall: 12px;
  --buttonFontSize: 18px;
  --menu-items: 20px;
  --paragraph: 20px;
  --paragraph-large: 24px;

  --heading1-responsive: 90px;
  --heading2-responsive: 20px;
  --heading3-responsive: 20px;
  --menu-items-responsive: 18px;
  --paragraph-responsive: 18px;
  --paragraph-large-responsive: 20px;
}

/* Scroll watcher */
.scroll-watcher {
  height: 4px;
  width: 100%;
  background-color: var(--primary);
  z-index: 10002;
  position: fixed;
  inset: 0;
  scale: 0 1;
  transform-origin: left;

  transition: 0.3s ease-in-out;

  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

.scroll-watcher.clicked {
  background-color: var(--secondary);
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/* Cursor */
.cursor {
  position: fixed;
  height: 40px;
  width: 40px;
  border: 2px solid #f1f1f14b;
  /* background-color: var(--white); */
  mix-blend-mode: difference;
  transform-origin: center center;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    border-radius 0.3s ease,
    background-color 0.3s ease,
    border 0.3s ease;
  translate: -50% -50%;
  pointer-events: none !important;
  z-index: 10005;
}

.square {
  width: 24px;
  height: 24px;
  border: 2px solid #da785788;
  border-radius: 0;
  /* background-color: var(--secondary); */
  mix-blend-mode: difference;
  animation: 1s infinite running rotation;
}

/* Defaults */
.h1 {
  font-size: var(--heading1);
  font-weight: 500;
  text-transform: capitalize;
  line-height: 0.9;
}

.h3 {
  font-size: var(--heading3);
  color: var(--black);
}

.h4 {
  font-size: var(--heading4);
}

.h5 {
  font-size: var(--heading5);
}

.p {
  font-size: var(--paragraph);
  text-transform: capitalize;
}

/* ====================== NAVIGATION ====================== */
.navigation {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: sticky;
  top: 0;
  right: 0;
  z-index: 2;

  mix-blend-mode: difference;

  /* animation: menuItemsSlide 1s 1.6s cubic-bezier(0.16, 1, 0.3, 1) both; */

  .nav-container {
    position: absolute;
    top: 40px;
    right: 40px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;

    .menu-item {
      width: fit-content;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      position: relative;

      overflow: hidden;

      &:nth-child(1) a {
        animation: textSlide 1.5s 1s cubic-bezier(0.16, 1, 0.3, 1) both;
      }
      &:nth-child(2) a {
        animation: textSlide 1.5s 1.3s cubic-bezier(0.16, 1, 0.3, 1) both;
      }
      &:nth-child(3) a {
        animation: textSlide 1.5s 1.6s cubic-bezier(0.16, 1, 0.3, 1) both;
      }
    }

    .menu-item:hover a {
      color: var(--white);
      background-position: left bottom;
      background-size: 100% 2px;
    }

    .menu-item.active {
      a {
        color: var(--white);
      }
    }
  }
}

a,
a:focus,
a:visited {
  color: #fdfdfd9c;
  font-size: var(--menu-items);
  text-transform: capitalize;
  text-decoration: none;

  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: right bottom;

  transition:
    background-size 0.3s ease-in,
    color 0.3s ease-in-out;
}

/* ====================== HERO ====================== */
.hero {
  height: 100vh;
  padding: 200px 0 40px 0;

  background-color: var(--black);
  color: var(--white);

  position: sticky;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;

  animation: scrolling linear;
  animation-timeline: scroll();

  .svg-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    will-change: transform;

    /* SVG hero artwork */
    #hero-artwork {
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      top: 42px;
      right: -20px;
      z-index: 1;

      /* pointer-events: none; */

      /* rect {
        pointer-events: all;
      } */

      .my-rect {
        fill: var(--white);
        stroke-width: 2px;
        stroke: var(--black);
        opacity: 0.1;
      }
    }
  }

  /* Hero name */
  .name-box {
    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 6px;

    pointer-events: none;

    animation: scrollingHeroName linear;
    animation-timeline: scroll();

    #hero-box {
      width: 32px;
      height: 32px;

      background-color: var(--primary);

      pointer-events: all;

      transition: 0.3s ease-in-out;

      animation: boxSlide 2s 0.2s ease-in-out both;
    }

    #hero-box.clicked {
      background-color: var(--secondary);
      transform: rotate(180deg);
    }

    .name {
      width: 100%;
      height: fit-content;
      margin-right: 40px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      position: relative;

      .box-top {
        width: 100%;
        height: 100%;

        background-color: var(--black);

        position: absolute;
        bottom: -300px;
        left: 0;
        z-index: 10003;
      }

      .img-wrapper {
        height: 120px;
        position: relative;
        overflow: hidden;

        img {
          height: 108px;
          display: block;
        }

        &:nth-child(1) img {
          animation: nameSlide 1.5s 0.2s cubic-bezier(0.16, 1, 0.3, 1) both;
        }
        &:nth-child(2) img {
          animation: nameSlide 1.5s 0.5s cubic-bezier(0.16, 1, 0.3, 1) both;
        }
      }
    }
  }

  /* Hero description */
  .hero-description {
    padding: 0 40px;

    font-size: var(--menu-items);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 10001;

    div {
      display: flex;
      gap: 8px;
    }

    .text-wrapper {
      height: 30px;
      position: relative;
      overflow: hidden;

      &:nth-child(1) span {
        animation: textSlide 1.5s 1s cubic-bezier(0.16, 1, 0.3, 1) both;
      }

      &:nth-child(2) span {
        animation: textSlide 1.5s 1.3s cubic-bezier(0.16, 1, 0.3, 1) both;
      }

      p {
        animation: textSlide 1.5s 1.6s cubic-bezier(0.16, 1, 0.3, 1) both;
      }
    }
  }
}

/* ====================== ABOUT ====================== */
.sections-container {
  position: relative;
  z-index: 1;
}

.section {
  width: 100%;
  height: 100vh;
  padding: 40px;

  color: var(--black);
  background-color: var(--white);
  display: flex;
}

.heading {
  width: 70%;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-section {
  height: 150vh;

  .heading {
    position: absolute;
    top: 14px;
    left: 40px;

    .heading-mask-text .text-wrapper {
      height: 105px;
      overflow: hidden;
      position: relative;

      .h1 {
        transform: translateY(100%);

        &.animate {
          animation: textSlide 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }
      }
    }

    .technologies {
      height: fit-content;

      text-transform: uppercase;

      display: flex;
      flex-wrap: wrap;
      gap: 16px;

      overflow: hidden;

      span {
        color: var(--grey);
        font-weight: 500;

        transform: translateY(100%);

        &.animate {
          animation: textSlide 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }
      }
    }
  }

  .about-text-container {
    height: 100%;
    padding-top: 25%;

    display: flex;
    flex-direction: column;
    gap: 20rem;

    .about-text {
      display: flex;
      height: fit-content;
      overflow: hidden;
      position: relative;

      .p {
        transform: translateY(100%);

        &.animate {
          animation: textSlide 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }
      }
    }

    .about-text:nth-child(2) {
      justify-content: flex-end;

      text-align: right;

      .p {
        transform: translateY(100%);

        &.animate {
          animation: textSlide 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }
      }
    }

    p {
      width: 50%;

      font-weight: 500;
      font-size: var(--paragraph-large);
      text-transform: none;
    }
  }
}

.about-box {
  width: 0px;
  height: 217px;

  position: absolute;
  top: 40px;
  left: 0;
  z-index: 20;

  background-color: var(--primary);
}

/* ====================== WORK ====================== */
.work-section {
  position: relative;
  height: auto;
  align-items: flex-start;

  flex-direction: column;
  gap: 40px;

  .heading {
    width: fit-content;
    height: fit-content;

    overflow: hidden;

    .h1 {
      transform: translateY(100%);

      &.animate {
        animation: textSlide 1.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
      }
    }
  }

  .projects-container {
    width: 100%;
    
    position: relative;
    display: flex;
    gap: 24px;

    .project-column {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 48px;
    }

    .project {
      display: flex;
      flex-direction: column;

      a {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .project-image {
          position: relative;
          overflow: hidden;
          height: 600px;

          img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
          }

          &::after {
            content: "";

            position: absolute;
            inset: 0;

            background-color: #00000052;
            opacity: 0;

            transition: 0.3s ease-in-out;
          }
        }

        .project-info {
          color: var(--black);
          font-size: 32px;

          display: flex;
          align-items: stretch;

          .projects-box {
            width: 0px;
            flex-shrink: 0;

            background-color: var(--primary);

            transition: width 0.3s ease-in-out;
          }

          .project-text-container {
            padding-left: 0px;

            display: flex;
            justify-content: space-between;
            flex: 1;

            transition: padding-left 0.3s ease-in-out;

            .project-text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              gap: 12px;

              h3 {
                font-weight: 500;
                line-height: 1;
              }

              h5 {
                width: fit-content;
                position: relative;

                color: var(--grey);
                text-transform: uppercase;
                font-weight: 500;
                line-height: 1;

                &::after {
                  content: "";
                  width: 6px;

                  position: absolute;
                  height: 6px;
                  top: 5px;
                  right: -14px;

                  background-color: var(--grey);
                }
              }
            }

            .svg-container {
              width: 50px;
              transform: rotate(-90deg);

              transition: 0.3s ease-in-out;

              img {
                height: 100%;
                width: 100%;
              }
            }
          }
        }

        &:hover {
          .projects-box {
            width: 10px;
          }

          .project-image::after {
            opacity: 1;
          }

          .project-text-container {
            padding-left: 12px;
          }

          .project-info .svg-container {
            transform: rotate(0deg);
          }
        }
      }
    }
  }
}

/* ====================== CONTACT ====================== */
.contact-section {
  height: 70vh;
  background-color: var(--primary);
  color: var(--white);

  flex-direction: column;
  justify-content: space-between;
  gap: 8px;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: -1;

  .top-contact {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .heading {
      width: 100%;

      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      h1 {
        width: 60%;
      }

      #flower-bitmap {
        width: 480px;
      }
    }

    .email-container {
      display: flex;
      gap: 12px;

      .email {
        display: flex;
        gap: 12px;

        animation: infiniteScroll 60s infinite linear;

        a {
          flex: 0 0 1px;

          font-size: 40px;
          font-weight: 500;
          color: var(--white);
          text-transform: none;

          display: flex;
          align-items: baseline;
          gap: 12px;

          img {
            height: 10px;
            margin: auto 0;
          }
        }
      }
    }
  }

  .socials-container {
    margin-top: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .socials {
      display: flex;
      flex-direction: row;
      gap: 24px;

      & a:hover {
        background-position: left bottom;
        background-size: 100% 2px;
      }
    }
  }

  .cls-1 {
    stroke: var(--primary);
  }
}

.line {
  width: 100%;
  height: 1px;

  background-color: var(--white);
}

.line-dark {
  background-color: var(--black);
}

.cls-1 {
  stroke-width: 1px;
  stroke: var(--black);
  opacity: 0.1;
  transition: opacity 0.2s ease-out;
}

/* .cls-1:not(:hover) {
  transition: 2s linear;
} */

/* ====================== ANIMATIONS ====================== */
/* Hero animations */
@keyframes nameSlide {
  from {
    transform: translateY(120%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes boxSlide {
  0% {
    transform: translateX(-200px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes menuItemsSlide {
  from {
    transform: translateY(-300px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes textSlide {
  from {
    transform: translateY(120%);
  }

  to {
    transform: translateY(0);
  }
}

/* Email animation */
@keyframes infiniteScroll {
  from {
    translate: 0;
  }

  to {
    translate: -100%;
  }
}

/* ====================== RESPONSIVE ====================== */
/* @media screen and (max-width: 1440px) {
    .h1 {
        font-size: var(--heading1-responsive);
        font-weight: 500;
        text-transform: capitalize;
        line-height: .9;
    }

    .h3 {
        font-size: var(--heading3-responsive);
        color: var(--black);
    }

    .p {
        font-size: var(--paragraph-responsive);
        text-transform: capitalize;
    }

    .menu-item a {
        font-size: var(--menu-items-responsive);
    }

    .hero {
        padding: 160px 0 40px 0;

        .name-box {
            #hero-box {
                width: 24px;
                height: 24px;
            }

            .name {
                gap: 8px;

                img {
                    height: 90px;
                }
            }
        }
    }

    .about-section {
        .about-text {
            p {
                font-size: var(--paragraph-large-responsive);
            }
        }
    }

    #flower-bitmap {
        width: 400px;
    }

    .email {
        a {
            font-size: 30px;
        }
    }
} */

@media screen and (max-width: 770px) {
  .cursor,
  .hover {
    display: none;
  }

  /* NAVIGATION */
  .navigation {
    .nav-container {
      top: 20px;
      right: 20px;
    }

    .menu-item {
      a {
        font-size: 16px;
      }
    }

    .menu-item.active {
      color: var(--white);
    }
  }

  a,
  a:focus,
  a:visited {
    background-image: none;
  }

  /* HERO */
  .hero {
    padding: 450px 0 20px 0;

    .svg-wrapper {
      #hero-artwork {
        width: 500%;

        top: -50px;
        right: -500px;
      }
    }

    .name-box {
      #hero-box {
        width: 19px;
        height: 16px;
      }

      .name {
        gap: 8px;

        .img-wrapper {
          height: fit-content;

          img {
            height: 50px;
          }
        }
      }
    }

    .hero-description {
      padding: 0 20px;
      font-size: 18px;

      p,
      span {
        font-size: 18px;
      }
    }
  }

  .section {
    padding: 20px;
  }

  .about-section {
    .heading {
      left: 20px;

      .heading-mask-text {
        .text-wrapper {
          height: fit-content;
        }
      }

      .technologies {
        row-gap: 0;
        column-gap: 8px;

        span {
          font-size: 18px;
        }
      }
    }
    .about-text-container {
      margin-top: 20rem;

      .about-text {
        p {
          width: 90%;

          font-size: 18px;
        }
      }
    }
  }

  .h1 {
    line-height: 1;
    font-size: 48px;

    br {
      display: none;
    }
  }

  .work-section {
    .projects-container {
      flex-direction: column;

      .project-column .project {
        .project-image {
          width: 100%;

          img {
            height: 100%;
          }
        }

        .project-info {
          .projects-box {
            width: 8px;
            margin-right: 8px;
          }

          .project-text-container .project-text {
            .h5 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .contact-section {
    height: 50vh;

    .socials-container {
      .socials {
        gap: 16px;
      }

      p {
        font-size: 16px;
      }
    }
  }
}
